/* Navbar.css */

.logo-img{
  height: 50px;
  width: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #45a049;
}

.navbar-logo h1 {
  color: white;
}

.navbar-links {
  display: flex;
}

.navbar-links ul {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: font-weight 0.3s ease;
}

.navbar-links a:hover {
  font-weight: bold;
}

.navbar-auth {
  display: flex;
  align-items: center;
}

.navbar-auth button {
  background-color: white;
  color: #45a049;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.navbar-auth button:hover {
  background-color: lightgray;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #45a049;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links ul {
    flex-direction: column;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
  }
}
